{% extends 'campus.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Find something</h2>
    <div>
            <div class="input-append">
                <input class="span2" id="appendedInputButton" type="text">
                <button class="btn" type="button">Go!</button>
            </div>
    </div>
{% endblock %}
